page-home {
  text-align: center;

  .loginBox {
    width: 90%;
    max-width: 500px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    border: 3px solid #042c62;
    border-radius: 15px;
	background: #002448;
  }
  .loginField {
	padding: 0px;
	background: #002448;
  }
  .ion-input {
	color: #ffffff;
  }
  .content {
	background-color: #e5e5e5;
  }
  .p {
	color: #e5e5e5;
  }
  .button {
	background-color: #003365;
  }
}
